# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Docker Image CI

on:
  push:
    branches: 
      -master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Login to DockerHub
      run:  echo ${{ secrets.DOCKER_PASSWORD }} | docker login
      -u {{ secrets.DOCKER_USERNAME }} | --password-stdin
    - name: Build the Docker image
      run:  docker build -t ${{ secrets.DOCKER_USERNAME }}/
      node-project .
    - name: Publish to Docker Hub
      run:  docker push ${{ secrets.DOCKER_USERNAME }}/
      node-project